@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="">
        <h2>About me</h2>
        <h3>Hello, my name is Matthew Rozendaal. I am currently an honors student at Des Moines Area Community College (DMACC). </h3>
        <p>
            I am currently studying within the BIS program (Buisness Information Systems). I am focused more on the object oriented side
            of the program. For those who don't know, the BIS program is basically computer programming for buisnesses. This includes learning
            not only how to program in different languages, but also learning what buisness is and how it is run.
        </p>
        <p>
            Through DMACC, I have learnt many languages. I can't claim to know them all, nor will I ever claim to know all of the syntax of each
            that I do know. The languages that I did learn through DMACC are the more popular ones. I have learnt the following from DMACC;
            Visual Basic, C++, C#, JAVA, SQL (and Data Bases), HTML and CSS. I do not plan on just knowing these and trying to get by. There is
            one language that I have not started learning and that is Javascript. I plan on learning python, ruby, and php, and go once I have
            obtained my degree.
        </p>
        <p>
            DMACC is has a very good BIS program that ties in with many other things DMACC has to offer. While in the BIS program a student can
            obtain many different certificates. They have recently added a few more certificates that one can pick up and complete while completing
            the program. The certificates that I wish to obtain in the future are; Database Specialist, Network Security Manager, and Mobile
            Developement for Android. These certificates most likely will not be obtained by me before the time that I get the diploma for the BIS
            program. This does not mean that I will walk away without any certificates. At the end of the Spring 2017 semester I will have obtained
            the C++ and C# certificates that DMACC offers. At the end of 2017, I will have picked up the Java certificate.
        </p>
        <p>
            During the last year at DMACC I will be posting out on this website programs that I have created either by myself and with other people.
            I will be posting my Java and C++ code for you to be able to look at. I plan on integrating my C# program into the web site. There are
            descriptions of what each program does in each of the language tabs. In general these programs will take anywhere between 6 - 10 weeks
            to make. There will be specially marked programs that will be included in the Honors Projects tab. Within this tab will be the projects
            I made for each of my Honors classes.
        </p>
    </div>
</div>
