@{
    ViewBag.Title = "Home";
}

<div class="container">
    <h1>Welcome!</h1>
    <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="mrrozendaal"><a class="LI-simple-link" href='https://www.linkedin.com/in/mrrozendaal?trk=profile-badge'>Matthew Rozendaal</a></div>

    <h3><a href="">Homework for WDV 101</a></h3>
    <h3><a href="">Homework for WDV 221</a></h3>
    <h3><a href="">The Languages I know</a></h3>

    <ul>
        <li><p>Java</p></li>
        <li><p>Html and CSS</p></li>
        <li><p>Visual Basic</p></li>
        <li><p><a href="languages/cplusplus/cplusplus.html">C++</a></p></li>
        <li><p>SQL and Databases</p></li>
    </ul>
    Kids List Demo <a href="../Views/KidsDemo/Login.html">Here</a>
    @Html.ActionLink("Kids Demo", "SantaLogin", "Account", new { area = "KidsList" }, null)
    <h3>@Html.ActionLink("About Me", "About", "Home")</h3>

    <h3><a href="honors/honorsPage.html">My honors page</a></h3>
</div>